@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{

  /* box-sizing: border-box; */
--jr-text-color: #222;

--jr-btn-primary-color       : rgb(255, 255, 255);
--jr-btn-hover-primary-color : white;

--jr-btn-primary-bg-color       : rgb(142, 62, 207);
--jr-btn-hover-primary-bg-color : rgb(110, 45, 163);

--jr-btn-border-primary-color       : rgb(164, 93, 223);
--jr-btn-hover-border-primary-color : rgb(184, 112, 243);


}

html{
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.jr.mp-0{
  margin: 0;
  padding: 0;
}

.jr.link-raw{
  text-decoration: none;
  color: inherit;
}


.jr.link-raw:hover{
  color: inherit;
  text-decoration: underline;
}

.jr.text-center{
  text-align: center;
}

.jr.h100{height: 100%;}
.jr.w100{width: 100%;}

.jr.w-auto, .jr.col-auto{
  width: auto;
}

.jr.h80{height: 80%;}
.jr.w80{width: 80%;}

.jr.w50{width: 80%;}



.jr.flex-row{
  display: flex;
  flex-wrap: nowrap;
}

.jr.flex-col{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.jr.flex-wrap{
  flex-wrap: wrap; 
}

/* USE WITH flex-row or flex-col */
.jr.between  {  justify-content: space-between;}
.jr.evenly   {  justify-content: space-evenly;}
.jr.around   {  justify-content: space-around;}
.jr.center   {  justify-content: center;}
.jr.flex-end {  justify-content: flex-end;}

.jr.flex-row .jr.col{  width: 100%;}
.jr.flex-col.center{  align-items: center;}

.jr.flex-grow-1{flex-grow: 1;}
.jr.flex-grow-2{flex-grow: 2;}

.jr.flex-row .jr.col-05 {width: 4.16%;}
.jr.flex-row .jr.col-1  {width: 8.33%;}
.jr.flex-row .jr.col-15 {width: 12.5%;}
.jr.flex-row .jr.col-2  {width: 16.66%;}
.jr.flex-row .jr.col-25 {width: 20.83%;}
.jr.flex-row .jr.col-3  {width: 25%;}
.jr.flex-row .jr.col-4  {width: 33.33%;}
.jr.flex-row .jr.col-5  {width: 41.66%;}
.jr.flex-row .jr.col-6  {width: 50%;}
.jr.flex-row .jr.col-7  {width: 58.33%;}
.jr.flex-row .jr.col-8  {width: 66.66%;}
.jr.flex-row .jr.col-9  {width: 75%;}
.jr.flex-row .jr.col-10 {width: 83.33%;}
.jr.flex-row .jr.col-11 {width: 91.66%;}
.jr.flex-row .jr.col-12 {width: 100%;}


.jr.card{
  margin: auto;
  background-color: white;
  border: solid 1px #ddd;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.349) .05rem .1rem .15rem;
}

.jr.center-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.jr.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(82, 82, 82, 0.226);
  width: 100vw;
  height: 100vh;
}


/*  MARGINS  */

.jr.m-0  { margin: 0 !important;}
.jr.m-05 { margin: .5rem !important;}
.jr.m-1  { margin: 1rem !important;}
.jr.m-15 { margin: 1.5rem !important;}
.jr.m-2  { margin: 2rem !important;}
.jr.m-25 { margin: 2.5rem !important;}
.jr.m-3  { margin: 3rem !important;}

.jr.m-auto  { margin: auto !important;}
.jr.mh-auto { margin-left: auto !important; margin-right: auto !important;}

.jr.mt-0  { margin-top: 0 !important;}
.jr.mt-05 { margin-top: .5rem !important;}
.jr.mt-1  { margin-top: 1rem !important;}
.jr.mt-15 { margin-top: 1.5rem !important;}
.jr.mt-2  { margin-top: 2rem !important;}
.jr.mt-25 { margin-top: 2.5rem !important;}
.jr.mt-3  { margin-top: 3rem !important;}

.jr.ml-0  { margin-left: 0 !important;}
.jr.ml-05 { margin-left: .5rem !important;}
.jr.ml-1  { margin-left: 1rem !important;}
.jr.ml-15 { margin-left: 1.5rem !important;}
.jr.ml-2  { margin-left: 2rem !important;}
.jr.ml-25 { margin-left: 2.5rem !important;}
.jr.ml-3  { margin-left: 3rem !important;}

.jr.mr-0  { margin-right: 0 !important;}
.jr.mr-05 { margin-right: .5rem !important;}
.jr.mr-1  { margin-right: 1rem !important;}
.jr.mr-15 { margin-right: 1.5rem !important;}
.jr.mr-2  { margin-right: 2rem !important;}
.jr.mr-25 { margin-right: 2.5rem !important;}
.jr.mr-3  { margin-right: 3rem !important;}

.jr.mb-0  { margin-bottom: 0 !important;}
.jr.mb-05 { margin-bottom: .5rem !important;}
.jr.mb-1  { margin-bottom: 1rem !important;}
.jr.mb-15 { margin-bottom: 1.5rem !important;}
.jr.mb-2  { margin-bottom: 2rem !important;}
.jr.mb-25 { margin-bottom: 2.5rem !important;}
.jr.mb-3  { margin-bottom: 3rem !important;}

/*  PADDINGS  */
.jr.p-0  { padding: 0 !important;}
.jr.p-05 { padding: .5rem !important;}
.jr.p-1  { padding: 1rem !important;}
.jr.p-15 { padding: 1.5rem !important;}
.jr.p-2  { padding: 2rem !important;}
.jr.p-25 { padding: 2.5rem !important;}
.jr.p-3  { padding: 3rem !important;}

.jr.pt-0  { padding-top: 0 !important;}
.jr.pt-05 { padding-top: .5rem !important;}
.jr.pt-1  { padding-top: 1rem !important;}
.jr.pt-15 { padding-top: 1.5rem !important;}
.jr.pt-2  { padding-top: 2rem !important;}
.jr.pt-25 { padding-top: 2.5rem !important;}
.jr.pt-3  { padding-top: 3rem !important;}

.jr.pl-0  { padding-left: 0 !important;}
.jr.pl-05 { padding-left: .5rem !important;}
.jr.pl-1  { padding-left: 1rem !important;}
.jr.pl-15 { padding-left: 1.5rem !important;}
.jr.pl-2  { padding-left: 2rem !important;}
.jr.pl-25 { padding-left: 2.5rem !important;}
.jr.pl-3  { padding-left: 3rem !important;}

.jr.pr-0  { padding-right: 0 !important;}
.jr.pr-05 { padding-right: .5rem !important;}
.jr.pr-1  { padding-right: 1rem !important;}
.jr.pr-15 { padding-right: 1.5rem !important;}
.jr.pr-2  { padding-right: 2rem !important;}
.jr.pr-25 { padding-right: 2.5rem !important;}
.jr.pr-3  { padding-right: 3rem !important;}

.jr.pb-0  { padding-bottom: 0 !important;}
.jr.pb-05 { padding-bottom: .5rem !important;}
.jr.pb-1  { padding-bottom: 1rem !important;}
.jr.pb-15 { padding-bottom: 1.5rem !important;}
.jr.pb-2  { padding-bottom: 2rem !important;}
.jr.pb-25 { padding-bottom: 2.5rem !important;}
.jr.pb-3  { padding-bottom: 3rem !important;}



.jr.m-collapse{webkit-margin-collapse: collapse}
.jr.img{ width: 100%;}

.jr.button{
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  font-family: inherit;
  padding: .75rem 1.25rem;
  margin: auto;
  background-color: white;
  border: solid 1px #999;
  border-radius: .25rem;
}


.jr.button:hover{
  color: #222;
  background-color: white;
  border-color: #555;
}

.jr.button-primary{
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--jr-btn-primary-color);
  font-family: inherit;
  padding: .75rem 1.25rem;
  margin: auto;
  background-color: var(--jr-btn-primary-bg-color);
  border: solid 1px var(--jr-btn-border-primary-color);
  border-radius: .25rem;
}


.jr.button-primary:hover{
  color: var(--jr-btn-hover-primary-color);
  background-color: var(--jr-btn-primary-bg-color);
  background-color: var(--jr-btn-hover-primary-bg-color);
  border-color: var(--jr-btn-hover-border-primary-color);
}

textarea.jr,input.jr{
  color: #222;
  font-family: inherit;
  padding: .5rem .5rem;
  background-color: white;
  border: solid 1px #bbb;
  border-radius: .25rem;
  margin-bottom: 1.25rem;
}

textarea.jr{

}

label.jr{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: .3rem;
}
input.jr + small.jr{
margin-top:  -1rem;
margin-bottom: 1.25rem;
}


.jr.m-only{display: none;}
.jr.s-only{display: inline-block;}

/* mockup helpers */

.jr.mockup.bg{background-color: gray;}
.jr.mockup.border{
  border: black 1px solid;
  box-sizing: border-box;
}



@media only screen and (min-width: 800px) {

  .jr.w-m-auto, .jr.col-m-auto{
    width: auto;
  }

  .jr.w-m-50{
    width: 50%;
  }

  .jr.flex-m-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .jr.flex-m-col{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .jr.between-m  {  justify-content: space-between;}
  .jr.evenly-m   {  justify-content: space-evenly;}
  .jr.around-m   {  justify-content: space-around;}
  .jr.center-m   {  justify-content: center;}
  .jr.flex-end-m {  justify-content: flex-end;}

  .jr.flex-m-row .jr.col-m{  width: 100%;}
  .jr.flex-m-col.center-m{  align-items: center;}

  .jr.flex-m-grow-1{flex-grow: 1;}
  .jr.flex-m-grow-2{flex-grow: 2;}

  
  .jr.flex-m-wrap{flex-wrap: wrap; }

  .jr.s-only{display: none;}
  .jr.m-only{display: inline-block;}


  .jr.flex-m-row .jr.col-m-05 {width: 4.16%;}
  .jr.flex-m-row .jr.col-m-1  {width: 8.33%;}
  .jr.flex-m-row .jr.col-m-15 {width: 12.5%;}
  .jr.flex-m-row .jr.col-m-2  {width: 16.66%;}
  .jr.flex-m-row .jr.col-m-25 {width: 20.83%;}
  .jr.flex-m-row .jr.col-m-3  {width: 25%;}
  .jr.flex-m-row .jr.col-m-4  {width: 33.33%;}
  .jr.flex-m-row .jr.col-m-5  {width: 41.66%;}
  .jr.flex-m-row .jr.col-m-6  {width: 50%;}
  .jr.flex-m-row .jr.col-m-7  {width: 58.33%;}
  .jr.flex-m-row .jr.col-m-8  {width: 66.66%;}
  .jr.flex-m-row .jr.col-m-9  {width: 75%;}
  .jr.flex-m-row .jr.col-m-10 {width: 83.33%;}
  .jr.flex-m-row .jr.col-m-11 {width: 91.66%;}
  .jr.flex-m-row .jr.col-m-12 {width: 100%;}



/*  MARGINS  */

.jr.m-m-0  { margin: 0 !important;}
.jr.m-m-05 { margin: .5rem !important;}
.jr.m-m-1  { margin: 1rem !important;}
.jr.m-m-15 { margin: 1.5rem !important;}
.jr.m-m-2  { margin: 2rem !important;}
.jr.m-m-25 { margin: 2.5rem !important;}
.jr.m-m-3  { margin: 3rem !important;}

.jr.m-m-auto  { margin: auto !important;}
.jr.mh-m-auto { margin-left: auto !important; margin-right: auto !important;}

.jr.mt-m-0  { margin-top: 0 !important;}
.jr.mt-m-05 { margin-top: .5rem !important;}
.jr.mt-m-1  { margin-top: 1rem !important;}
.jr.mt-m-15 { margin-top: 1.5rem !important;}
.jr.mt-m-2  { margin-top: 2rem !important;}
.jr.mt-m-25 { margin-top: 2.5rem !important;}
.jr.mt-m-3  { margin-top: 3rem !important;}

.jr.ml-m-0  { margin-left: 0 !important;}
.jr.ml-m-05 { margin-left: .5rem !important;}
.jr.ml-m-1  { margin-left: 1rem !important;}
.jr.ml-m-15 { margin-left: 1.5rem !important;}
.jr.ml-m-2  { margin-left: 2rem !important;}
.jr.ml-m-25 { margin-left: 2.5rem !important;}
.jr.ml-m-3  { margin-left: 3rem !important;}

.jr.mr-m-0  { margin-right: 0 !important;}
.jr.mr-m-05 { margin-right: .5rem !important;}
.jr.mr-m-1  { margin-right: 1rem !important;}
.jr.mr-m-15 { margin-right: 1.5rem !important;}
.jr.mr-m-2  { margin-right: 2rem !important;}
.jr.mr-m-25 { margin-right: 2.5rem !important;}
.jr.mr-m-3  { margin-right: 3rem !important;}

.jr.mb-m-0  { margin-bottom: 0 !important;}
.jr.mb-m-05 { margin-bottom: .5rem !important;}
.jr.mb-m-1  { margin-bottom: 1rem !important;}
.jr.mb-m-15 { margin-bottom: 1.5rem !important;}
.jr.mb-m-2  { margin-bottom: 2rem !important;}
.jr.mb-m-25 { margin-bottom: 2.5rem !important;}
.jr.mb-m-3  { margin-bottom: 3rem !important;}

/*  PADDINGS  */
.jr.p-m-0  { padding: 0 !important;}
.jr.p-m-05 { padding: .5rem !important;}
.jr.p-m-1  { padding: 1rem !important;}
.jr.p-m-15 { padding: 1.5rem !important;}
.jr.p-m-2  { padding: 2rem !important;}
.jr.p-m-25 { padding: 2.5rem !important;}
.jr.p-m-3  { padding: 3rem !important;}

.jr.pt-m-0  { padding-top: 0 !important;}
.jr.pt-m-05 { padding-top: .5rem !important;}
.jr.pt-m-1  { padding-top: 1rem !important;}
.jr.pt-m-15 { padding-top: 1.5rem !important;}
.jr.pt-m-2  { padding-top: 2rem !important;}
.jr.pt-m-25 { padding-top: 2.5rem !important;}
.jr.pt-m-3  { padding-top: 3rem !important;}

.jr.pl-m-0  { padding-left: 0 !important;}
.jr.pl-m-05 { padding-left: .5rem !important;}
.jr.pl-m-1  { padding-left: 1rem !important;}
.jr.pl-m-15 { padding-left: 1.5rem !important;}
.jr.pl-m-2  { padding-left: 2rem !important;}
.jr.pl-m-25 { padding-left: 2.5rem !important;}
.jr.pl-m-3  { padding-left: 3rem !important;}

.jr.pr-m-0  { padding-right: 0 !important;}
.jr.pr-m-05 { padding-right: .5rem !important;}
.jr.pr-m-1  { padding-right: 1rem !important;}
.jr.pr-m-15 { padding-right: 1.5rem !important;}
.jr.pr-m-2  { padding-right: 2rem !important;}
.jr.pr-m-25 { padding-right: 2.5rem !important;}
.jr.pr-m-3  { padding-right: 3rem !important;}

.jr.pb-m-0  { padding-bottom: 0 !important;}
.jr.pb-m-05 { padding-bottom: .5rem !important;}
.jr.pb-m-1  { padding-bottom: 1rem !important;}
.jr.pb-m-15 { padding-bottom: 1.5rem !important;}
.jr.pb-m-2  { padding-bottom: 2rem !important;}
.jr.pb-m-25 { padding-bottom: 2.5rem !important;}
.jr.pb-m-3  { padding-bottom: 3rem !important;}


}